.nav-container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    width: 100%;
}

.burger{
    display: none;
}
@media (max-width: 768px) {
       .nav-container{
            flex-direction: column;
            align-items: end;
       } 

       .burger{
            display: flex;
            width: 2rem;
            height:2rem;
            flex-flow: column nowrap;
            align-items: end;
       }

       .burger > div{
            width: 2rem;
            height: 0.25rem;
            gap: 5px;
       }
}
.logo{
    margin-right: auto;
}
.items > a{
    font-size: 18px;
    padding-right: 70px;
    text-decoration: none;
    color:aliceblue;
}

.home-title{
    padding-top: 30px;
    margin-bottom: 0px;
    font-size: 40px;
    text-align: center;
}

.icons-list{
    display: flex;
    gap: 15px;
}

.front-page-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.projects{
    margin-top: 80px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.projects > h1{
    outline: 2px solid;
    padding: 10px;
    border-radius: 10%;
}

.project-cards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.bio{
    display: flex;
    max-width: 500px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 5px;
}

.bio > ul{
    padding-left: 15px;
    margin-top: 0px;
    padding-top: 0px;
}

.bio > ul > li{
    padding-bottom: 20px;
}

.icons-list{
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
}

.icons-list > a > img {
    transition: all 0.35s ease-in-out;
    text-decoration: none;
}

.icons-list > a > img:hover{
    filter: invert(1);
}

.github{
    width: 60px;
}

.linkedin{
    width: 40px;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    padding-top: 50px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    height: 100px;
}
.footer-container{
    text-align: center;
}

