html{
  background-color: #2a2727;
  color:aliceblue;
}

body {
  font-family: 'Courier Prime', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Courier Prime', monospace;
}

